.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 32px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}
